---
import clsx from "clsx/lite";

type Props = {
    className?: string;
    size?: "default" | "large";
}

const { size = "default", className } = Astro.props;
---

<h1
    class={clsx(
        "text-white font-bold text-balance",
        size === "default" && "text-3xl sm:text-4xl md:text-6xl xl:text-8xl tracking-tight",
        size === "large" && "text-4xl sm:text-6xl md:text-8xl lg:text-[120px] xl:text-[160px] tracking-tighter leading-tight",
        className,
    )}
>
    <slot />
</h1>
